<div class="container">
  <h1>Welcome to URL Shortener 1.0</h1>
  <form class="shortener" name="url_input" action="/url" method="post">
    <input type="text" name="original_url" value="http://"></input>
    <input type="submit" name="Submit">
  </form>
  <div id="short">
  </div>
</div>

<div>
  <form action="/<%= @lucky %>">
    <input type="submit" value="I'm Feelin' Lucky!">
  </form>
</div>

